<!DOCTYPE html>
<html lang="et">

<head>
  <%- include('partials/headforadd'); %>

</head>

<body>

  <%- include('partials/header'); %>

    <div class="container my-5">
      <h2 class="text-center my-4">Võistluse lisamine</h2>

      <form action="" method="POST" class="w-50 mx-auto">

        <div class="form-row">
          <div class="form-group col-md-6">
            <label class="font-weight-bold" for="competitionsdateForm">Kuupäev</label>
            <input type="date" class="form-control" name="competitionsdateForm">
          </div>
          <div class="form-group col-md-6">
            <label class="font-weight-bold" for="competitionstimeForm">Võistluse alguse kellaaeg</label>
            <input type="time" class="form-control" name="competitionstimeForm">
          </div>
        </div>

        <div class="form-group">
          <label class="font-weight-bold" for="competitionsnameForm">Võistluse nimi</label>
          <input type="text" class="form-control" name="competitionsnameForm" autofocus>
        </div>

        <div class="form-group">
          <label class="font-weight-bold" for="locationForm">Võistluskoht</label>
          <input type="text" class="form-control" name="locationForm">
        </div>

        <div class="form-row">
          <div class="form-group col-md-6">
            <label class="font-weight-bold" for="organizerForm">Korraldaja</label>
            <input type="text" class="form-control" name="organizerForm">
          </div>
          <div class="form-group col-md-6">
            <label class="font-weight-bold" for="organisercontactForm">Kontakttelefon</label>
            <input type="tel" class="form-control" name="organisercontactForm">
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-md-6">
            <label class="font-weight-bold" for="refereeForm">Kohtunik</label>
            <input type="text" class="form-control" name="refereeForm">
          </div>
          <div class="form-group col-md-6">
            <label class="font-weight-bold" for="refereecontactForm">Kontakttelefon</label>
            <input type="tel" class="form-control" name="refereecontactForm">
          </div>
        </div>

        <div class="form-group">
          <label class="font-weight-bold" for="participationfeeForm">Osavõtutasu</label>
          <input type="text" class="form-control" name="participationfeeForm">
        </div>

     
        <div class="my-4 text-center">
          <button type="submit" class="btn btn-secondary my-4 text-center">
            Sisesta võistluse andmed
          </button>
        </div>

      </form>
    </div>
    <%- include('partials/footer'); %>

</body>

</html>