<!DOCTYPE html>
<html lang="et" class="h-100">

<head>
  
  <%- include('partials/headforedit'); %>

</head>

<body class="d-flex flex-column h-100">

  <%- include('partials/header'); %>

  <%- include('partials/navcompetitions'); %>

  <main role="main" class="flex-shrink-0">

    <div class="container my-5">

      <h2 class="text-center my-4">Tulemused</h2>

      <!-- Üldvõitja, ehk I koht -->
      <div class="card-deck mb-5 text-center">
        <div class="card">
          <div class="card-header">
            <h5 class="card-title my-0">I koht</h5>
          </div>
          <i class="fas fa-trophy fa-9x my-4 mx-auto"></i>
          <div class="card-body">
            <h1 class="">VEIKO</h1>
          </div>
        </div>
      </div>

      <!-- Üldarvestuse II ja III koht -->
      <div class="row row-cols-1 row-cols-md-2 mb-4 text-center">
        <div class="col mb-4">
          <div class="card h-100">
            <div class="card-header">
              <h5 class="card-title my-0">II koht</h5>
            </div>
            <i class="fas fa-trophy fa-7x my-3 mx-auto"></i>
            <div class="card-body">
              <h1 class="">HEINO KRUUSEMENT</h1>
            </div>
          </div>
        </div>
        <div class="col mb-4">
          <div class="card h-100">
            <div class="card-header">
              <h5 class="card-title my-0">III koht</h5>
            </div>
            <i class="fas fa-trophy fa-5x my-4 mx-auto"></i>
            <div class="card-body">
              <h1 class="">ELLE ÕUN</h1>
            </div>
          </div>
        </div>
      </div>

      <!-- Parim mees- ja naismängija -->
      <div class="row row-cols-1 row-cols-md-2 mb-4 text-center">
        <div class="col mb-4">
          <div class="card h-100">
            <div class="card-header">
              <h5 class="card-title my-0">Parim meesmängija</h5>
            </div>
            <i class="fas fa-trophy fa-7x my-4 mx-auto"></i>
            <div class="card-body">
              <h1 class="">ALLAN SALLA</h1>
            </div>
          </div>
        </div>
        <div class="col mb-4">
          <div class="card h-100">
            <div class="card-header">
              <h5 class="card-title my-0">Parim naismängija</h5>
            </div>
            <i class="fas fa-trophy fa-7x my-4 mx-auto"></i>
            <div class="card-body">
              <h1 class="">ELLE ÕUN</h1>
            </div>
          </div>
        </div>
      </div>

      <!-- Poisid ja tüdrukud kuni 10. aastased -->
      <div class="row row-cols-1 row-cols-md-2 mb-4 text-center">
        <div class="col mb-4">
          <div class="card h-100">
            <div class="card-header">
              <h5 class="card-title my-0">Poisid kuni 10. aastased</h5>
            </div>
            <i class="fas fa-medal fa-3x mt-3 mx-auto"></i>
            <div class="card-body mx-auto w-50">
              <table class="table table-borderless table-sm">
                <tbody>
                  <tr>
                    <th scope="row">1.</th>
                    <td>Oliver</td>
                  </tr>
                  <tr>
                    <th scope="row">2.</th>
                    <td>Bradlee Knights</td>
                  </tr>
                  <tr>
                    <th scope="row">3.</th>
                    <td>Akshay Rennie</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="col mb-4">
          <div class="card h-100">
            <div class="card-header">
              <h5 class="card-title my-0">Tüdrukud kuni 10. aastased</h5>
            </div>
            <i class="fas fa-medal fa-3x mt-3 mx-auto"></i>
            <div class="card-body mx-auto w-50">
              <table class="table table-borderless table-sm">
                <tbody>
                  <tr>
                    <th scope="row">1.</th>
                    <td>Abbie Stewart</td>
                  </tr>
                  <tr>
                    <th scope="row">2.</th>
                    <td>Madeleine Massey</td>
                  </tr>
                  <tr>
                    <th scope="row">3.</th>
                    <td>Regina Robinson</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>

      <!-- Poisid ja tüdrukud vanuses 11 - 14 -->
      <div class="row row-cols-1 row-cols-md-2 mb-4 text-center">
        <div class="col mb-4">
          <div class="card h-100">
            <div class="card-header">
              <h5 class="card-title my-0">Poisid vanuses 11 - 14</h5>
            </div>
            <i class="fas fa-medal fa-3x mt-3 mx-auto"></i>
            <div class="card-body mx-auto w-50">
              <table class="table table-borderless table-sm">
                <tbody>
                  <tr>
                    <th scope="row">1.</th>
                    <td>Alexander Frost</td>
                  </tr>
                  <tr>
                    <th scope="row">2.</th>
                    <td>Bradlee Knights</td>
                  </tr>
                  <tr>
                    <th scope="row">3.</th>
                    <td>Akshay Rennie</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="col mb-4">
          <div class="card h-100">
            <div class="card-header">
              <h5 class="card-title my-0">Tüdrukud vanuses 11 - 14</h5>
            </div>
            <i class="fas fa-medal fa-3x mt-3 mx-auto"></i>
            <div class="card-body mx-auto w-50">
              <table class="table table-borderless table-sm">
                <tbody>
                  <tr>
                    <th scope="row">1.</th>
                    <td>Abbie Stewart</td>
                  </tr>
                  <tr>
                    <th scope="row">2.</th>
                    <td>Madeleine Massey</td>
                  </tr>
                  <tr>
                    <th scope="row">3.</th>
                    <td>Regina Robinson</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>

      <!-- Poisid ja tüdrukud vanuses 15 - 18 -->
      <div class="row row-cols-1 row-cols-md-2 mb-4 text-center">
        <div class="col mb-4">
          <div class="card h-100">
            <div class="card-header">
              <h5 class="card-title my-0">Poisid vanuses 15 - 18</h5>
            </div>
            <i class="fas fa-medal fa-3x mt-3 mx-auto"></i>
            <div class="card-body mx-auto w-50">
              <table class="table table-borderless table-sm">
                <tbody>
                  <tr>
                    <th scope="row">1.</th>
                    <td>Alexander Frost</td>
                  </tr>
                  <tr>
                    <th scope="row">2.</th>
                    <td>Bradlee Knights</td>
                  </tr>
                  <tr>
                    <th scope="row">3.</th>
                    <td>Akshay Rennie</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="col mb-4">
          <div class="card h-100">
            <div class="card-header">
              <h5 class="card-title my-0">Tüdrukud vanuses 15 - 18</h5>
            </div>
            <i class="fas fa-medal fa-3x mt-3 mx-auto"></i>
            <div class="card-body mx-auto w-50">
              <table class="table table-borderless table-sm">
                <tbody>
                  <tr>
                    <th scope="row">1.</th>
                    <td>Abbie Stewart</td>
                  </tr>
                  <tr>
                    <th scope="row">2.</th>
                    <td>Madeleine Massey</td>
                  </tr>
                  <tr>
                    <th scope="row">3.</th>
                    <td>Regina Robinson</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>

      <!-- Mehed ja naised vanuses 19 - 34 -->
      <div class="row row-cols-1 row-cols-md-2 mb-4 text-center">
        <div class="col mb-4">
          <div class="card h-100">
            <div class="card-header">
              <h5 class="card-title my-0">Mehed vanuses 19 - 34</h5>
            </div>
            <i class="fas fa-medal fa-3x mt-3 mx-auto"></i>
            <div class="card-body mx-auto w-50">
              <table class="table table-borderless table-sm">
                <tbody>
                  <tr>
                    <th scope="row">1.</th>
                    <td>Alexander Frost</td>
                  </tr>
                  <tr>
                    <th scope="row">2.</th>
                    <td>Bradlee Knights</td>
                  </tr>
                  <tr>
                    <th scope="row">3.</th>
                    <td>Akshay Rennie</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="col mb-4">
          <div class="card h-100">
            <div class="card-header">
              <h5 class="card-title my-0">Naised vanuses 19 - 34</h5>
            </div>
            <i class="fas fa-medal fa-3x mt-3 mx-auto"></i>
            <div class="card-body mx-auto w-50">
              <table class="table table-borderless table-sm">
                <tbody>
                  <tr>
                    <th scope="row">1.</th>
                    <td>Abbie Stewart</td>
                  </tr>
                  <tr>
                    <th scope="row">2.</th>
                    <td>Madeleine Massey</td>
                  </tr>
                  <tr>
                    <th scope="row">3.</th>
                    <td>Regina Robinson</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>

      <!-- Mehed vanuses 35 - 49 ja naised vanuses 35 - 44 -->
      <div class="row row-cols-1 row-cols-md-2 mb-4 text-center">
        <div class="col mb-4">
          <div class="card h-100">
            <div class="card-header">
              <h5 class="card-title my-0">Mehed vanuses 35 - 49</h5>
            </div>
            <i class="fas fa-medal fa-3x mt-3 mx-auto"></i>
            <div class="card-body mx-auto w-50">
              <table class="table table-borderless table-sm">
                <tbody>
                  <tr>
                    <th scope="row">1.</th>
                    <td>Alexander Frost</td>
                  </tr>
                  <tr>
                    <th scope="row">2.</th>
                    <td>Bradlee Knights</td>
                  </tr>
                  <tr>
                    <th scope="row">3.</th>
                    <td>Akshay Rennie</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="col mb-4">
          <div class="card h-100">
            <div class="card-header">
              <h5 class="card-title my-0">Naised vanuses 35 - 44</h5>
            </div>
            <i class="fas fa-medal fa-3x mt-3 mx-auto"></i>
            <div class="card-body mx-auto w-50">
              <table class="table table-borderless table-sm">
                <tbody>
                  <tr>
                    <th scope="row">1.</th>
                    <td>Abbie Stewart</td>
                  </tr>
                  <tr>
                    <th scope="row">2.</th>
                    <td>Madeleine Massey</td>
                  </tr>
                  <tr>
                    <th scope="row">3.</th>
                    <td>Regina Robinson</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>

      <!-- Mehed vanuses 50 - 59 ja naised vanuses 45 - 54 -->
      <div class="row row-cols-1 row-cols-md-2 mb-4 text-center">
        <div class="col mb-4">
          <div class="card h-100">
            <div class="card-header">
              <h5 class="card-title my-0">Mehed vanuses 50 - 59</h5>
            </div>
            <i class="fas fa-medal fa-3x mt-3 mx-auto"></i>
            <div class="card-body mx-auto w-50">
              <table class="table table-borderless table-sm">
                <tbody>
                  <tr>
                    <th scope="row">1.</th>
                    <td>Alexander Frost</td>
                  </tr>
                  <tr>
                    <th scope="row">2.</th>
                    <td>Bradlee Knights</td>
                  </tr>
                  <tr>
                    <th scope="row">3.</th>
                    <td>Akshay Rennie</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="col mb-4">
          <div class="card h-100">
            <div class="card-header">
              <h5 class="card-title my-0">Naised vanuses 45 - 54</h5>
            </div>
            <i class="fas fa-medal fa-3x mt-3 mx-auto"></i>
            <div class="card-body mx-auto w-50">
              <table class="table table-borderless table-sm">
                <tbody>
                  <tr>
                    <th scope="row">1.</th>
                    <td>Abbie Stewart</td>
                  </tr>
                  <tr>
                    <th scope="row">2.</th>
                    <td>Madeleine Massey</td>
                  </tr>
                  <tr>
                    <th scope="row">3.</th>
                    <td>Regina Robinson</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>

      <!-- Mehed vanuses 60 - 69 ja naised vanuses 55 - 64 -->
      <div class="row row-cols-1 row-cols-md-2 mb-4 text-center">
        <div class="col mb-4">
          <div class="card h-100">
            <div class="card-header">
              <h5 class="card-title my-0">Mehed vanuses 60 - 69</h5>
            </div>
            <i class="fas fa-medal fa-3x mt-3 mx-auto"></i>
            <div class="card-body mx-auto w-50">
              <table class="table table-borderless table-sm">
                <tbody>
                  <tr>
                    <th scope="row">1.</th>
                    <td>Alexander Frost</td>
                  </tr>
                  <tr>
                    <th scope="row">2.</th>
                    <td>Bradlee Knights</td>
                  </tr>
                  <tr>
                    <th scope="row">3.</th>
                    <td>Akshay Rennie</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="col mb-4">
          <div class="card h-100">
            <div class="card-header">
              <h5 class="card-title my-0">Naised vanuses 55 - 64</h5>
            </div>
            <i class="fas fa-medal fa-3x mt-3 mx-auto"></i>
            <div class="card-body mx-auto w-50">
              <table class="table table-borderless table-sm">
                <tbody>
                  <tr>
                    <th scope="row">1.</th>
                    <td>Abbie Stewart</td>
                  </tr>
                  <tr>
                    <th scope="row">2.</th>
                    <td>Madeleine Massey</td>
                  </tr>
                  <tr>
                    <th scope="row">3.</th>
                    <td>Regina Robinson</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>

      <!-- Mehed 70 aastat ja vanemad / Naised 65 aastat ja vanemad  -->
      <div class="row row-cols-1 row-cols-md-2 mb-4 text-center">
        <div class="col mb-4">
          <div class="card h-100">
            <div class="card-header">
              <h5 class="card-title my-0">Mehed 70 aastat ja vanemad</h5>
            </div>
            <i class="fas fa-medal fa-3x mt-3 mx-auto"></i>
            <div class="card-body mx-auto w-50">
              <table class="table table-borderless table-sm">
                <tbody>
                  <tr>
                    <th scope="row">1.</th>
                    <td>Alexander Frost</td>
                  </tr>
                  <tr>
                    <th scope="row">2.</th>
                    <td>Bradlee Knights</td>
                  </tr>
                  <tr>
                    <th scope="row">3.</th>
                    <td>Akshay Rennie</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="col mb-4">
          <div class="card h-100">
            <div class="card-header">
              <h5 class="card-title my-0">Naised 65 aastat ja vanemad</h5>
            </div>
            <i class="fas fa-medal fa-3x mt-3 mx-auto"></i>
            <div class="card-body mx-auto w-50">
              <table class="table table-borderless table-sm">
                <tbody>
                  <tr>
                    <th scope="row">1.</th>
                    <td>Abbie Stewart</td>
                  </tr>
                  <tr>
                    <th scope="row">2.</th>
                    <td>Madeleine Massey</td>
                  </tr>
                  <tr>
                    <th scope="row">3.</th>
                    <td>Regina Robinson</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  
  </main>
  
  <%- include('partials/footer'); %>

</body>

</html>