<!DOCTYPE html>
<html lang="et">

<head>
  <%- include('partials/headforedit'); %>

</head>

<body>

  <%- include('partials/header'); %>

    <%- include('partials/navcompetitions'); %>

      <div class="container">
        <h2 class="text-center my-2">Võistlustabel</h2>
      </div>

      <div class="container-fluid my-0">

        <table class="table table-sm table-borderless">
          <h4 class="text-center">Plussring</h4>
          <hr>
          <thead>
            <tr>
              <th scope="col"></th>
              <th scope="col">I voor</th>
              <th scope="col"></th>
              <th scope="col">II voor</th>
              <th scope="col"></th>
              <th scope="col">III voor</th>
              <th scope="col"></th>
              <th scope="col">Finaal</th>
              <th scope="col"></th>
              <th scope="col"></th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="text-right">1</td>
              <td class="border-secondary border-bottom text-center">Mängija 1</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td class="border-secondary border-top border-right text-right">101</td>
              <td class="border-secondary border-bottom text-center">Mängija 1</td>
              <td class="border-secondary border-bottom"></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td class="text-right">16</td>
              <td class="border-secondary border-bottom text-center">Mängija 16</td>
              <td class="border-secondary border-bottom border-right"></td>
              <td class="text-center">3:0</td>
              <td class="border-secondary border-right"></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td class="border-secondary border-right text-right">109</td>
              <td class="border-secondary border-bottom text-center">Mängija 1</td>
              <td class="border-secondary border-bottom"></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td class="text-right">9</td>
              <td class="border-secondary border-bottom text-center"> Mängija 9</td>
              <td class="border-secondary border-bottom"></td>
              <td></td>
              <td class="border-secondary border-right"></td>
              <td class="text-center">3:0</td>
              <td class="border-secondary border-right"></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td class="border-secondary border-right text-right">102</td>
              <td class="border-secondary border-bottom text-center">Mängija 8</td>
              <td class="border-secondary border-bottom border-right"></td>
              <td></td>
              <td class="border-secondary border-right"></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td class="text-right">8</td>
              <td class="border-secondary border-bottom text-center">Mängija 8</td>
              <td class="border-secondary border-bottom border-right"></td>
              <td class="border-secondary text-center">3:0</td>
              <td></td>
              <td></td>
              <td class="border-secondary border-right"></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td class="border-secondary border-right text-right">117</td>
              <td class="border-secondary border-bottom text-center">Mängija 1</td>
              <td class="border-secondary border-bottom"></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td class="text-right">5</td>
              <td class="border-secondary border-bottom text-center">Mängija 5</td>
              <td class="border-secondary border-bottom"></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td class="border-secondary border-left text-center">3:0</td>
              <td class="border-secondary border-right"></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td class="border-secondary border-right text-right">103</td>
              <td class="border-secondary border-bottom text-center">Mängija 5</td>
              <td class="border-secondary border-bottom"></td>
              <td></td>
              <td class="border-secondary border-right"></td>
              <td></td>
              <td class="border-secondary border-right"></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td class="text-right">12</td>
              <td class="border-secondary border-bottom text-center">Mängija 12</td>
              <td class="border-secondary border-bottom"></td>
              <td class="border-secondary border-left text-center">3:0</td>
              <td class="border-secondary border-right"></td>
              <td></td>
              <td class="border-secondary border-right"></td>
              <td></td>
              <td class="border-secondary border-right"></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td class="border-secondary border-right text-right">110</td>
              <td class="border-secondary border-bottom text-center">Mängija 4</td>
              <td class="border-secondary border-bottom border-right"></td>
              <td></td>
              <td class="border-secondary border-right"></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td class="text-right">13</td>
              <td class="border-secondary border-bottom text-center"> Mängija 13</td>
              <td class="border-secondary border-bottom"></td>
              <td></td>
              <td class="border-secondary border-right"></td>
              <td class="text-center">3:0</td>
              <td></td>
              <td></td>
              <td class="border-secondary border-right"></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td class="border-secondary border-right text-right">104</td>
              <td class="border-secondary border-bottom text-center">Mängija 4</td>
              <td class="border-secondary border-bottom border-right"></td>
              <td></td>
              <td></td>
              <td></td>
              <td class="border-secondary border-right"></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td class="text-right">4</td>
              <td class="border-secondary border-bottom text-center">Mängija 45</td>
              <td class="border-secondary border-bottom border-right"></td>
              <td class="border-secondary text-center">3:0</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td class="border-secondary border-right"></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td class="border-secondary border-right text-right">131</td>
              <td class="border-secondary border-bottom text-center">Mängija 1</td>
              <td class="font-weight-bold">I koht</td>
            </tr>
            <tr>
              <td class="text-right">3</td>
              <td class="border-secondary border-bottom text-center">Mängija 3</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td class="border-secondary border-right"></td>
              <td class="text-center">3:0</td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td class="border-secondary border-top border-right text-right">105</td>
              <td class="border-secondary border-bottom text-center">Mängija 3</td>
              <td class="border-secondary border-bottom"></td>
              <td></td>
              <td></td>
              <td></td>
              <td class="border-secondary border-right"></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td class="text-right">14</td>
              <td class="border-secondary border-bottom text-center">Mängija 14</td>
              <td class="border-secondary border-bottom border-right"></td>
              <td class="text-center">3:0</td>
              <td class="border-secondary border-right"></td>
              <td></td>
              <td></td>
              <td></td>
              <td class="border-secondary border-right"></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td class="border-secondary border-right text-right">111</td>
              <td class="border-secondary border-bottom text-center">Mängija 3</td>
              <td class="border-secondary border-bottom"></td>
              <td></td>
              <td class="border-secondary border-right"></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td class="text-right">11</td>
              <td class="border-secondary border-bottom text-center"> Mängija 11</td>
              <td class="border-secondary border-bottom"></td>
              <td></td>
              <td class="border-secondary border-right"></td>
              <td class="text-center">3:0</td>
              <td class="border-secondary border-right"></td>
              <td></td>
              <td class="border-secondary border-right"></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td class="border-secondary border-right text-right">106</td>
              <td class="border-secondary border-bottom text-center">Mängija 6</td>
              <td class="border-secondary border-bottom border-right"></td>
              <td></td>
              <td class="border-secondary border-right"></td>
              <td></td>
              <td class="border-secondary border-right"></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td class="text-right">6</td>
              <td class="border-secondary border-bottom text-center">Mängija 6</td>
              <td class="border-secondary border-bottom border-right"></td>
              <td class="border-secondary text-center">3:0</td>
              <td></td>
              <td></td>
              <td class="border-secondary border-right"></td>
              <td></td>
              <td class="border-secondary border-right"></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td class="border-secondary border-right text-right">118</td>
              <td class="border-secondary border-bottom text-center">Mängija 2</td>
              <td class="border-secondary border-right border-bottom"></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td class="text-right">7</td>
              <td class="border-secondary border-bottom text-center">Mängija 7</td>
              <td class="border-secondary border-bottom"></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td class="border-secondary border-left text-center">3:0</td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td class="border-secondary border-right text-right">107</td>
              <td class="border-secondary border-bottom text-center">Mängija 7</td>
              <td class="border-secondary border-bottom"></td>
              <td></td>
              <td class="border-secondary border-right"></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td class="text-right">10</td>
              <td class="border-secondary border-bottom text-center">Mängija 10</td>
              <td class="border-secondary border-bottom"></td>
              <td class="border-secondary border-left text-center">3:0</td>
              <td class="border-secondary border-right"></td>
              <td></td>
              <td class="border-secondary border-right"></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td class="border-secondary border-right text-right">112</td>
              <td class="border-secondary border-bottom text-center">Mängija 2</td>
              <td class="border-secondary border-bottom border-right"></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td class="text-right">15</td>
              <td class="border-secondary border-bottom text-center"> Mängija 15</td>
              <td class="border-secondary border-bottom"></td>
              <td></td>
              <td class="border-secondary border-right"></td>
              <td class="text-center">3:0</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td class="border-secondary border-right text-right">108</td>
              <td class="border-secondary border-bottom text-center">Mängija 2</td>
              <td class="border-secondary border-bottom border-right"></td>
              <td></td>
              <td></td>
              <td></td>
              <td class="border-secondary text-center">-131</td>
              <td class="border-secondary border-bottom text-center">Mängija 2</td>
              <td class="font-weight-bold">II koht</td>
            </tr>
            <tr>
              <td class="text-right">2</td>
              <td class="border-secondary border-bottom text-center">Mängija 2</td>
              <td class="border-secondary border-bottom border-right"></td>
              <td class="border-secondary text-center">3:0</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
          </tbody>
        </table>

        <table class="table table-sm table-borderless">
          <h4 class="text-center mt-5">Miinusring</h4>
          <hr>
          <thead>
            <tr>
              <th scope="col"></th>
              <th scope="col">I voor</th>
              <th scope="col"></th>
              <th scope="col">II voor</th>
              <th scope="col"></th>
              <th scope="col">III voor</th>
              <th scope="col"></th>
              <th scope="col">IV voor</th>
              <th scope="col"></th>
              <th scope="col">Kohamängud</th>
              <th scope="col"></th>
              <th scope="col"></th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="text-right">-104</td> <!-- 1 col -->
              <td class="border-secondary border-bottom text-center">Mängija 13</td> <!-- 2 col -->
              <td class="border-secondary border-bottom"></td> <!-- 3 col -->
              <td></td> <!-- 4 col -->
              <td></td> <!-- 5 col -->
              <td></td> <!-- 6 col -->
              <td class="text-right">-117</td> <!-- 7 col -->
              <td class="border-secondary border-bottom text-center">Mängija 4</td> <!-- 8 col -->
              <td class="border-secondary border-bottom"></td> <!-- 9 col -->
              <td></td> <!-- 10 col -->
              <td></td> <!-- 11 col -->
              <td></td> <!-- 12 col -->
              <td></td> <!-- 13 col -->
            </tr>
            <tr>
              <td></td> <!-- 1 col -->
              <td></td> <!-- 2 col -->
              <td class="border-secondary border-right text-right">113</td> <!-- 3 col -->
              <td class="border-secondary border-bottom text-center">Mängija 12</td> <!-- 4 col -->
              <td class="border-secondary border-bottom"></td> <!-- 5 col -->
              <td></td> <!-- 6 col -->
              <td></td> <!-- 7 col -->
              <td></td> <!-- 8 col -->
              <td class="border-secondary border-right"></td> <!-- 9 col -->
              <td></td> <!-- 10 col -->
              <td></td> <!-- 11 col -->
              <td></td> <!-- 12 col -->
              <td></td> <!-- 13 col -->
            </tr>
            <tr>
              <td class="text-right">-103</td> <!-- 1 col -->
              <td class="border-secondary border-bottom text-center">Mängija 12</td> <!-- 2 col -->
              <td class="border-secondary border-bottom border-right"></td> <!-- 3 col -->
              <td class="text-center">3:0</td> <!-- 4 col -->
              <td class="border-secondary border-right">119</td> <!-- 5 col -->
              <td class="border-secondary border-bottom">Mängija 7</td> <!-- 6 col -->
              <td class="border-secondary border-bottom"></td> <!-- 7 col -->
              <td></td> <!-- 8 col -->
              <td class="border-secondary border-right">129</td> <!-- 9 col -->
              <td class="border-secondary border-bottom">Mängija 4</td> <!-- 10 col -->
              <td class="border-secondary border-bottom"></td> <!-- 11 col -->
              <td></td> <!-- 12 col -->
              <td></td> <!-- 13 col -->
            </tr>
            <tr>
              <td></td> <!-- 1 col -->
              <td></td> <!-- 2 col -->
              <td class="text-right">-112</td> <!-- 3 col -->
              <td class="border-secondary border-bottom text-center">Mängija 7</td> <!-- 4 col -->
              <td class="border-secondary border-bottom border-right"></td> <!-- 5 col -->
              <td class="text-center">3:0</td> <!-- 6 col -->
              <td class="border-secondary border-right"></td> <!-- 7 col -->
              <td></td> <!-- 8 col -->
              <td class="border-secondary border-right"></td> <!-- 9 col -->
              <td class="text-center">3:0</td> <!-- 10 col -->
              <td class="border-secondary border-right"></td> <!-- 11 col -->
              <td></td> <!-- 12 col -->
              <td></td> <!-- 13 col -->
            </tr>
            <tr>
              <td class="text-right">-102</td> <!-- 1 col -->
              <td class="border-secondary border-bottom text-center">Mängija 9</td> <!-- 2 col -->
              <td class="border-secondary border-bottom"></td> <!-- 3 col -->
              <td></td> <!-- 4 col -->
              <td></td> <!-- 5 col -->
              <td></td> <!-- 6 col -->
              <td class="border-secondary border-right text-right">125</td> <!-- 7 col -->
              <td class="border-secondary border-bottom text-center">Mängija 6</td> <!-- 8 col -->
              <td class="border-secondary border-bottom border-right"></td> <!-- 9 col -->
              <td></td> <!-- 10 col -->
              <td class="border-secondary border-right"></td> <!-- 11 col -->
              <td></td> <!-- 12 col -->
              <td></td> <!-- 13 col -->
            </tr>
            <tr>
              <td></td> <!-- 1 col -->
              <td></td> <!-- 2 col -->
              <td class="border-secondary border-right text-right">114</td> <!-- 3 col -->
              <td class="border-secondary border-bottom text-center">Mängija 9</td> <!-- 4 col -->
              <td class="border-secondary border-bottom"></td> <!-- 5 col -->
              <td></td> <!-- 6 col -->
              <td class="border-secondary border-right"></td> <!-- 7 col -->
              <td class="text-center">3:0</td> <!-- 8 col -->
              <td></td> <!-- 9 col -->
              <td></td> <!-- 10 col -->
              <td class="border-secondary border-right"></td> <!-- 11 col -->
              <td></td> <!-- 12 col -->
              <td></td> <!-- 13 col -->
            </tr>
            <tr>
              <td class="text-right">-101</td> <!-- 1 col -->
              <td class="border-secondary border-bottom text-center">Mängija 16</td> <!-- 2 col -->
              <td class="border-secondary border-bottom border-right"></td> <!-- 3 col -->
              <td class="text-center">3:0</td> <!-- 4 col -->
              <td class="border-secondary border-right text-right">120</td> <!-- 5 col -->
              <td class="border-secondary border-bottom text-center">Mängija 6</td> <!-- 6 col -->
              <td class="border-secondary border-bottom border-right"></td> <!-- 7 col -->
              <td></td> <!-- 8 col -->
              <td></td> <!-- 9 col -->
              <td></td> <!-- 10 col -->
              <td class="border-secondary border-right text-right">138</td> <!-- 11 col -->
              <td class="border-secondary border-bottom text-center">Mängija 3</td> <!-- 12 col -->
              <td class="font-weight-bold">III koht</td> <!-- 13 col -->
            </tr>

            <tr>
              <td></td> <!-- 1 col -->
              <td></td> <!-- 2 col -->
              <td class="text-right">-111</td> <!-- 3 col -->
              <td class="border-secondary border-bottom text-center">Mängija 6</td> <!-- 4 col -->
              <td class="border-secondary border-bottom border-right"></td> <!-- 5 col -->
              <td class="text-center">3:0</td> <!-- 6 col -->
              <td></td> <!-- 7 col -->
              <td></td> <!-- 8 col -->
              <td></td> <!-- 9 col -->
              <td></td> <!-- 10 col -->
              <td class="border-secondary border-right"></td> <!-- 11 col -->
              <td>3:0</td> <!-- 12 col -->
              <td></td> <!-- 13 col -->
            </tr>

            <tr>
              <td class="text-right">-108</td> <!-- 1 col -->
              <td class="border-secondary border-bottom text-center">Mängija 15</td> <!-- 2 col -->
              <td class="border-secondary border-bottom"></td> <!-- 3 col -->
              <td></td> <!-- 4 col -->
              <td></td> <!-- 5 col -->
              <td></td> <!-- 6 col -->
              <td class="text-right">-118</td> <!-- 7 col -->
              <td class="border-secondary border-bottom text-center">Mängija 3</td> <!-- 8 col -->
              <td class="border-secondary border-bottom"></td> <!-- 9 col -->
              <td></td> <!-- 10 col -->
              <td class="border-secondary border-right"></td> <!-- 11 col -->
              <td></td> <!-- 12 col -->
              <td></td> <!-- 13 col -->
            </tr>
            <tr>
              <td></td> <!-- 1 col -->
              <td></td> <!-- 2 col -->
              <td class="border-secondary border-right text-right">115</td> <!-- 3 col -->
              <td class="border-secondary border-bottom text-center">Mängija 10</td> <!-- 4 col -->
              <td class="border-secondary border-bottom"></td> <!-- 5 col -->
              <td></td> <!-- 6 col -->
              <td></td> <!-- 7 col -->
              <td></td> <!-- 8 col -->
              <td class="border-secondary border-right"></td> <!-- 9 col -->
              <td></td> <!-- 10 col -->
              <td class="border-secondary border-right"></td> <!-- 11 col -->
              <td></td> <!-- 12 col -->
              <td></td> <!-- 13 col -->
            </tr>
            <tr>
              <td class="text-right">-107</td> <!-- 1 col -->
              <td class="border-secondary border-bottom text-center">Mängija 10</td> <!-- 2 col -->
              <td class="border-secondary border-bottom border-right"></td> <!-- 3 col -->
              <td class="text-center">3:0</td> <!-- 4 col -->
              <td class="border-secondary border-right">121</td> <!-- 5 col -->
              <td class="border-secondary border-bottom text-center">Mängija 5</td> <!-- 6 col -->
              <td class="border-secondary border-bottom"></td> <!-- 7 col -->
              <td></td> <!-- 8 col -->
              <td class="border-secondary border-right">130</td> <!-- 9 col -->
              <td class="border-secondary border-bottom text-center">Mängija 3</td> <!-- 10 col -->
              <td class="border-secondary border-bottom border-right"></td> <!-- 11 col -->
              <td></td> <!-- 12 col -->
              <td></td> <!-- 13 col -->
            </tr>
            <tr>
              <td></td> <!-- 1 col -->
              <td></td> <!-- 2 col -->
              <td class="text-right">-110</td> <!-- 3 col -->
              <td class="border-secondary border-bottom text-center">Mängija 5</td> <!-- 4 col -->
              <td class="border-secondary border-bottom border-right"></td> <!-- 5 col -->
              <td class="text-center">3:0</td> <!-- 6 col -->
              <td class="border-secondary border-right"></td> <!-- 7 col -->
              <td></td> <!-- 8 col -->
              <td class="border-secondary border-right"></td> <!-- 9 col -->
              <td class="text-center">3:0</td> <!-- 10 col -->
              <td></td> <!-- 11 col -->
              <td></td> <!-- 12 col -->
              <td></td> <!-- 13 col -->
            </tr>
            <tr>
              <td class="text-right">-106</td> <!-- 1 col -->
              <td class="border-secondary border-bottom text-center">Mängija 11</td> <!-- 2 col -->
              <td class="border-secondary border-bottom"></td> <!-- 3 col -->
              <td></td> <!-- 4 col -->
              <td></td> <!-- 5 col -->
              <td></td> <!-- 6 col -->
              <td class="border-secondary border-right text-right">126</td> <!-- 7 col -->
              <td class="border-secondary border-bottom text-center">Mängija 5</td> <!-- 8 col -->
              <td class="border-secondary border-bottom border-right"></td> <!-- 9 col -->
              <td></td> <!-- 10 col -->
              <td class="text-right">-138</td> <!-- 11 col -->
              <td class="border-secondary border-bottom text-center">Mängija 4</td> <!-- 12 col -->
              <td class="font-weight-bold">4. koht</td> <!-- 13 col -->
            </tr>
            <tr>
              <td></td> <!-- 1 col -->
              <td></td> <!-- 2 col -->
              <td class="border-secondary border-right text-right">116</td> <!-- 3 col -->
              <td class="border-secondary border-bottom text-center">Mängija 11</td> <!-- 4 col -->
              <td class="border-secondary border-bottom"></td> <!-- 5 col -->
              <td></td> <!-- 6 col -->
              <td class="border-secondary border-right"></td> <!-- 7 col -->
              <td class="text-center">3:0</td> <!-- 8 col -->
              <td></td> <!-- 9 col -->
              <td></td> <!-- 10 col -->
              <td></td> <!-- 11 col -->
              <td></td> <!-- 12 col -->
              <td></td> <!-- 13 col -->
            </tr>
            <tr>
              <td class="text-right">-105</td> <!-- 1 col -->
              <td class="border-secondary border-bottom text-center">Mängija 14</td> <!-- 2 col -->
              <td class="border-secondary border-bottom border-right"></td> <!-- 3 col -->
              <td class="text-center">3:0</td> <!-- 4 col -->
              <td class="border-secondary border-right text-right">122</td> <!-- 5 col -->
              <td class="border-secondary border-bottom text-center">Mängija 8</td> <!-- 6 col -->
              <td class="border-secondary border-bottom border-right"></td> <!-- 7 col -->
              <td></td> <!-- 8 col -->
              <td></td> <!-- 9 col -->
              <td></td> <!-- 10 col -->
              <td></td> <!-- 11 col -->
              <td></td> <!-- 12 col -->
              <td></td> <!-- 13 col -->
            </tr>
            <tr>
              <td></td> <!-- 1 col -->
              <td></td> <!-- 2 col -->
              <td class="text-right">-109</td> <!-- 3 col -->
              <td class="border-secondary border-bottom text-center">Mängija 8</td> <!-- 4 col -->
              <td class="border-secondary border-bottom border-right"></td> <!-- 5 col -->
              <td class="text-center">3:0</td> <!-- 6 col -->
              <td></td> <!-- 7 col -->
              <td></td> <!-- 8 col -->
              <td></td> <!-- 9 col -->
              <td></td> <!-- 10 col -->
              <td></td> <!-- 11 col -->
              <td></td> <!-- 12 col -->
              <td></td> <!-- 13 col -->
            </tr>
            <tr>
              <td></td> <!-- 1 col -->
              <td></td> <!-- 2 col -->
              <td></td> <!-- 3 col -->
              <td></td> <!-- 4 col -->
              <td></td> <!-- 5 col -->
              <td></td> <!-- 6 col -->
              <td></td> <!-- 7 col -->
              <td></td> <!-- 8 col -->
              <td></td> <!-- 9 col -->
              <td></td> <!-- 10 col -->
              <td></td> <!-- 11 col -->
              <td></td> <!-- 12 col -->
              <td></td> <!-- 13 col -->
            </tr>
          </tbody>
        </table>
      </div>

      <%- include('partials/footer'); %>

</body>

</html>