<!DOCTYPE html>
<html lang="et">

<head>
  <%- include('partials/headforedit'); %>

</head>

<body>

  <%- include('partials/header'); %>

    <%- include('partials/navcompetitions'); %>

      <div class="container my-5">
        <h2 class="text-center my-4">Võistlustabel</h2>

      </div>


        <%- include('partials/footer'); %>

</body>

</html>