<!DOCTYPE html>
<html lang="et" class="h-100 imhckseng idc0_330">

<head>
  <%- include('partials/head'); %>
</head>

<body class="d-flex flex-column h-100">

  <%- include('partials/header'); %>

  <main role="main" class="flex-shrink-0">
    <div class="container my-5">
      <h2 class="text-center my-4">V천ta 체hendust</h2>
      <form class="w-50 mx-auto">
        <div class="form-group input-group">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="fas fa-user"></i></span>
          </div>
          <input type="text" class="form-control" required="" id="name" placeholder="Ees- ja perekonnanimi">
        </div>
        <div class="form-group input-group">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="fas fa-envelope"></i></span>
          </div>
          <input type="email" class="form-control" required="" id="email" placeholder="E-posti aadress">
        </div>
        <textarea class="form-control my-3" required="" rows="7" placeholder="Kirjuta siia s천num ..."></textarea>
        <button type="submit" class="btn btn-secondary btn-block w-50 mx-auto" disabled>Saada s천num teele</button>
      </form>
    </div>
  </main>

    <%- include('partials/footer'); %>

</body>

</html>