<!DOCTYPE html>
<html lang="et">
<head>
  <%- include('partials/head'); %>
</head>
<body>

  <%- include('partials/header'); %>


  <div class="jumbotron text-center my-5">
    <h1 class="display-4">Rapla Maakonna lauatennise võistluste läbiviimise infosüsteem</h1>
    <p class="lead">Vaata võistluste ajakava, vii läbi oma võistlusi, vaata võistluste tulemusi, vaata reitinguid ja
      vajadusel võta kontakti.</p>
  </div>
  <div class="container">
    <div class="row row-cols-1 row-cols-md-2">
      <div class="col mb-4">
        <div class="card h-100">
          <svg class="bd-placeholder-img bd-placeholder-img-lg img-fluid" width="100%" height="200"
            xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Responsive image"
            preserveAspectRatio="xMidYMid slice" focusable="false">
            <title>Placeholder</title>
            <rect width="100%" height="100%" fill="#6c757d"></rect>
            <text x="50%" y="50%" fill="#dee2e6" dy=".5em">Pilt</text>
          </svg>
          <div class="card-body">
            <h5 class="card-title">Ajakava</h5>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed maximus tincidunt libero,
              maximus tristique arcu vulputate sit amet. </p>
          </div>
        </div>
      </div>
      <div class="col mb-4">
        <div class="card h-100">
          <svg class="bd-placeholder-img bd-placeholder-img-lg img-fluid" width="100%" height="200"
            xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Responsive image"
            preserveAspectRatio="xMidYMid slice" focusable="false">
            <title>Placeholder</title>
            <rect width="100%" height="100%" fill="#6c757d"></rect>
            <text x="50%" y="50%" fill="#dee2e6" dy=".5em">Pilt</text>
          </svg>
          <div class="card-body">
            <h5 class="card-title">Võistlused</h5>
            <p class="card-text">Nam convallis turpis ac accumsan pulvinar. Ut ligula mauris, elementum vitae commodo
              commodo, ullamcorper nec nisl.</p>
          </div>
        </div>
      </div>
      <div class="col mb-4">
        <div class="card h-100">
          <svg class="bd-placeholder-img bd-placeholder-img-lg img-fluid" width="100%" height="200"
            xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Responsive image"
            preserveAspectRatio="xMidYMid slice" focusable="false">
            <title>Placeholder</title>
            <rect width="100%" height="100%" fill="#6c757d"></rect>
            <text x="50%" y="50%" fill="#dee2e6" dy=".5em">Pilt</text>
          </svg>
          <div class="card-body">
            <h5 class="card-title">Reitingud</h5>
            <p class="card-text">Nam convallis turpis ac accumsan pulvinar. Ut ligula mauris, elementum vitae commodo
              commodo, ullamcorper nec nisl.</p>
          </div>
        </div>
      </div>
      <div class="col mb-4">
        <div class="card h-100">
          <svg class="bd-placeholder-img bd-placeholder-img-lg img-fluid" width="100%" height="200"
            xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Responsive image"
            preserveAspectRatio="xMidYMid slice" focusable="false">
            <title>Placeholder</title>
            <rect width="100%" height="100%" fill="#6c757d"></rect>
            <text x="50%" y="50%" fill="#dee2e6" dy=".5em">Pilt</text>
          </svg>
          <div class="card-body">
            <h5 class="card-title">Kontakt</h5>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed maximus tincidunt libero,
              maximus tristique arcu vulputate sit amet.</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <%- include('partials/footer'); %>

</body>
</html>