<!DOCTYPE html>
<html lang="et">

<head>
  <%- include('partials/headforedit'); %>

</head>

<body>

  <%- include('partials/header'); %>

  <%- include('partials/navcompetitions'); %>

  <div class="container my-5">
    <h2 class="text-center my-4">Lõppjärjestus</h2>

    <div class="table-responsive-md">

      <table class="table table-hover" id="reitinguNimekiri">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Koht reitingus</th>
            <th scope="col">Paigutuspunktid</th>
            <th scope="col">Reitingupunktid</th>
            <th scope="col">Kaalud</th>
            <th scope="col">Nimi</th>
            <th scope="col">Sünniaasta</th>
            <th scope="col">Sugu</th>
            <th scope="col">ID</th>
            <th scope="col">Klubi</th>
          </tr>
        </thead>
        <tbody>



        </tbody>
      </table>
    </div>
  </div>

  <%- include('partials/footer'); %>

</body>

</html>