<!DOCTYPE html>
<html lang="et">

<head>
  <%- include('partials/head'); %>
</head>

<body>

  <%- include('partials/header'); %>

    <div class="container my-5">
      <h2 class="text-center my-4">Ajakava</h2>

      <div class="table-responsive-md">
        <table class="table table-hover">
          <thead class="thead-dark">
            <tr>
              <th scope="col">Kuupäev</th>
              <th scope="col">Algusaeg</th>
              <th scope="col">Võistluse nimetus</th>
              <th scope="col">Võistluskoht</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>19.09.2020</td>
              <td>11:00</td>
              <td>Rapla Maakonna Meistrivõistlused</td>
              <td>Valtu Spordimaja</td>
            </tr>
            <tr>
              <td>10.10.2020</td>
              <td>10:00</td>
              <td>Raplamaa seeriavõistluse 1. etapp</td>
              <td>Alu Spordiklubi</td>
            </tr>
            <tr>
              <td>18.10.2020</td>
              <td>10:00</td>
              <td>Raplamaa SVK Meistrivõistlused</td>
              <td>Valtu Spordimaja</td>
            </tr>
            <tr>
              <td>15.11.2020</td>
              <td>10:00</td>
              <td>Rapla Maakonna võistkondlikud Meistrivõistlused</td>
              <td>Valtu Spordimaja</td>
            </tr>
            <tr>
              <td>29.11.2020</td>
              <td>10:00</td>
              <td>Raplamaa seeriavõistluse 2. etapp</td>
              <td>Märjamaa Spordihoone</td>
            </tr>
            <tr>
              <td>12.12.2020</td>
              <td>10:00</td>
              <td>Raplamaa seeriavõistluse 3. etapp</td>
              <td>Alu Spordiklubi</td>
            </tr>
            <tr>
              <td>19.12.2020</td>
              <td>10:00</td>
              <td>Rapla Maakonna individuaal Karikavõistlus</td>
              <td>Valtu Spordimaja</td>
            </tr>
            <tr>
              <td>27.12.2020</td>
              <td>11:00</td>
              <td>Kohila Lahtine Laud</td>
              <td>Kohila Spordikompleks</td>
            </tr>
            <tr>
              <td>16.01.2021</td>
              <td>10:00</td>
              <td>Raplamaa seeriavõistluse 4. etapp</td>
              <td>Valtu Spordimaja</td>
            </tr>
            <tr>
              <td>20.02.2021</td>
              <td>10:00</td>
              <td>Raplamaa seeriavõistluse 5. etapp</td>
              <td>Kohila Spordikompleks</td>
            </tr>
            <tr>
              <td>06.03.2021</td>
              <td>10:00</td>
              <td>Raplamaa seeriavõistluse 6. etapp</td>
              <td>Järvakandi Kool</td>
            </tr>
            <tr>
              <td>10.04.2021</td>
              <td>10:00</td>
              <td>Raplamaa seeriavõistluse 7. etapp</td>
              <td>Valtu Spordimaja</td>
            </tr>
            <tr>
              <td>17.04.2021</td>
              <td>10:00</td>
              <td>Rapla Maakonna Meistrivõistlused</td>
              <td>Valtu Spordimaja</td>
            </tr>
            <tr>
              <td>24.04.2021</td>
              <td>11:00</td>
              <td>Ennu Soodla mälestusvõistlus</td>
              <td>Alu Spordiklubi</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <%- include('partials/footer'); %>

</body>

</html>